
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
*{
    font-family: "Sigmar", sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    margin: 0px 10%;
    background-image: url("../images/bg.webp");
}

.container {
    background-color: white;
display: grid;
grid-gap: 1.5em;
grid-template-columns: repeat(12, 1fr);
width: min(95%, 75em);
margin: 0 auto;
}
.container > *{
    grid-column: span 12;
}

@media screen and (min-width: 40em) {
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-4 {
        grid-column: span 4;
    }
}

header {
    text-align: left;
    background-color: dodgerblue;
    color: #fff;
    padding: 30px 40px;
    font-size: 58px;
}

h1 {
    text-transform: uppercase;
    font-size: calmp (32px, 2vw,48px);
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
}

h2 {
    font-size: 36px;
    color: #d1633c;
    font-size: 1em;
}

h3 {
    font-size:24px;
}
.circle {
    border-radius: 100%;
    border:5px solid #d1633c
}
img {
        width: 100%;
}

img.circle {
    width: 180px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 999px;
    border: 6px solid dodgerblue;
}
.menu-items li a {
    color:red;
    font-weight: bold;
    text-decoration: none;
}

